<!-- views/home.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Amazon Cognito authentication with Node example</title>
</head>
<body>
<div>
    <h1>Amazon Cognito User Pool Demo</h1>
    <% if (user) { %>
        <p>Welcome, <%= user.username %>!</p>
        <form method="POST" action="/logout">
            <button type="submit">Logout</button>
        </form>
    <% } else { %>
        <p>You are not logged in.</p>
        <a href="/login">Login</a> | <a href="/signup">Sign Up</a>
    <% } %>
    
</div>
</body>
</html>